<!DOCTYPE html>
<html lang="en">
<head>
    <title>UrTBD Season III</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}custom.css" rel="stylesheet" />

    {% block extra_head %} {% endblock %}
</head>
<body>
    {% include 'navigation.html' %}

    {% block content %} {% endblock %}
</body>
</html>