{% extends 'base.html' %}

{% block title %} Season - III {% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="span9">
                <h2>Participants</h2>                
            </div>
            <div class="span3">
                {% if request.user.is_authenticated %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="span12">
                
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Player Nick</th>
                            <th>Full Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                        <tr>
                            <td>{{ player.nickname }}</td>
                            <td><a href="http://fb.me/{{ player.user.username }}" target="_BLANK">{{ player.user.first_name }} {{ player.user.last_name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
