<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">UrTBD Season III</a>
            <ul class="nav pull-right">
                {% if request.user.is_authenticated %}
                    <li><a href="http://fb.me/{{ request.user.username }}"
                           target="_BLANK">{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
                    <li><a href="/account/logout?next=/">Sign Out</a></li>
                {% else %}
                    <li><a href="/login/facebook">Sign In with Facebook</a></li>
                {% endif %}
            </ul>
            <ul class="nav">
                <li><a href="/teams">Teams</a></li>
                <li><a href="/rulebook">Rules</a></li>
            </ul>
        </div>
    </div>
</div>