{% extends 'base.html' %}

{% block title %} Register {% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="span4 offset4">
                <div class="well">
                    <form action="/tournament/register" method="post" class="reg-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Save Nick" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $("form input[type=text]#id_nickname").addClass("input-block-level");
        $("form input[type=submit]").addClass("btn-primary btn-block");
        $("form label[for=id_nickname]").css({"font-weight" : "bold", "font-size" : "20px", "line-height" : "125%", "text-align" : "center", "margin" : "10px"});
    </script>

{% endblock %}