{% extends 'base.html' %}

{% block title %} Teams {% endblock %}


{% block content %}
    <div class="container">
        <h2>Teams</h2>
        <div class="row">
            {% for team in teams %}
                <div class="span3">
                    <div class="well">
                        <h4>{{ team.name }}</h4>
                        <h6>Captain: <i> {{ team.captain.registration_set.all.0.nickname }} </i></h6>
                        <ul>
                            {% for player in team.registration_set.all %}
                                <li>{{ player.nickname }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
